{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
    
        <!-- titre -->
        <div class="text-left">
            <img src="https://i.ibb.co/RG1MQvvM/banniere.jpg" alt="imge" >
        </div>
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('formations') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('playlists') }}">Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('categories') }}">Categories</a>
                    </li>
                </ul>
            </div>
            <div class="nav-item justify-content-md-end navbar-nav gap-2">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a class="btn btn-danger" href="{{ path('logout') }}">Se déconnecter</a>
            {% else %}
                <a class="btn btn-info" href="{{ path('login') }}">Se connecter</a>
            {% endif %}

                <a class="btn btn-outline-info" href="{{ path('admin.formations') }}">&#128274; Espace administrateur</a>
            </div>
        </nav>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><strong>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </strong></small></p>
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
